Django
djangorestframework
djangorestframework-simplejwt
Pillow
# psycopg2
googlemaps
geopy
python-decouple
requests
django-decouple
humanfriendly
django-humanize
django-allauth
campay
google-auth
cryptoraphy