/* General styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

header {
    background-color: #2c3e50;
    padding: 20px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-list li {
    position: relative;
    margin: 0 20px;
}

.nav-list li.logo {
    flex-grow: 2; /* Makes the RESIDO logo take more space */
    font-size: 2rem;
    margin-inline: 7rem;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-list a:hover {
    color: #ecf0f1;
}

.dropbtn {
    font-size: 16px;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #323f4b;
    min-width: 200px;
    z-index: 2;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #34495e;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    font-size: 2.5em;
    color: #ecf0f1;
}