{% extends 'base.html' %} {% load static %} {% block head %}

<title>Homes | Rent</title>

<link rel="stylesheet" href="{% static 'css/home-sales.css' %}" />
<link rel="stylesheet" href="{% static 'home/style.css' %}" />

<script
  async
  src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&loading=async&callback=initMap"
></script>

{% endblock %} {% block content %}

<div id="map"></div>

<section class="featured-properties">
  <h2>Featured Properties</h2>
  <div class="listing-grid">
    {% for item in list %}
    <div class="listing">
      <img src="{% static 'home/listing-1.png' %}" alt="Listing {{ item }}"/>
      <h3>White Stylish Loft</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
        voluptatum?
      </p>
      <br />
      <hr />
      <div class="listing-details">
        <p>$550,000</p>
        <div class="listing-sub-section">
          <div class="sub-properties">
            <img
              src="{% static 'home/area-shape.svg' %}"
              alt="Area"
              width="20px"
              height="20px"
            />
            <p>250m<sup>2</sup></p>
          </div>
          <div class="sub-properties">
            <img
              src="{% static 'home/bedroom-shape.svg' %}"
              alt="Area"
              width="20px"
              height="20px"
            />
            <p>4</p>
          </div>
          <div class="sub-properties">
            <img
              src="{% static 'home/bathroom-shape.svg' %}"
              alt="Area"
              width="20px"
              height="20px"
            />
            <p>1</p>
          </div>
        </div>
      </div>
    </div>
    <div class="listing">
      <img src="{% static 'home/listing-1.png' %}" alt="Listing {{ item }}"/>
      <h3>White Stylish Loft</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
        voluptatum?
      </p>
      <br />
      <hr />
      <div class="listing-details">
        <p>$550,000</p>
        <div class="listing-sub-section">
          <div class="sub-properties">
            <img
              src="{% static 'home/area-shape.svg' %}"
              alt="Area"
              width="20px"
              height="20px"
            />
            <p>250m<sup>2</sup></p>
          </div>
          <div class="sub-properties">
            <img
              src="{% static 'home/bedroom-shape.svg' %}"
              alt="Area"
              width="20px"
              height="20px"
            />
            <p>4</p>
          </div>
          <div class="sub-properties">
            <img
              src="{% static 'home/bathroom-shape.svg' %}"
              alt="Area"
              width="20px"
              height="20px"
            />
            <p>1</p>
          </div>
        </div>
      </div>
    </div>
    <div class="listing">
      <img src="{% static 'home/listing-1.png' %}" alt="Listing {{ item }}"/>
      <h3>White Stylish Loft</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
        voluptatum?
      </p>
      <br />
      <hr />
      <div class="listing-details">
        <p>$550,000</p>
        <div class="listing-sub-section">
          <div class="sub-properties">
            <img
              src="{% static 'home/area-shape.svg' %}"
              alt="Area"
              width="20px"
              height="20px"
            />
            <p>250m<sup>2</sup></p>
          </div>
          <div class="sub-properties">
            <img
              src="{% static 'home/bedroom-shape.svg' %}"
              alt="Area"
              width="20px"
              height="20px"
            />
            <p>4</p>
          </div>
          <div class="sub-properties">
            <img
              src="{% static 'home/bathroom-shape.svg' %}"
              alt="Area"
              width="20px"
              height="20px"
            />
            <p>1</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<script type="module" src="{% static 'map/index.js' %}"></script>

{% endblock %}
