<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/newlogin/login.css">
</head>
<body>
    <div class="container">
        <div class="form-box login">
            <form action="">
                <h1>Login</h1>
                <dev class="input-box">
                    <input type="text" placeholder="username" required>
                    <i class='bx bxs-user'></i>
                </dev>
                <dev class="input-box">
                    <input type="password" placeholder="password" required>
                    <i class='bx bxs-lock-alt'></i>
                </dev>
                <dev class="forgot-link">
                    <a href="#">Forgot password</a>
                </dev>
                <button type="submit" class="btn">Login</button>
                <p> or login with social platform</p>
                <div class="social-icons">
                    <a href="#"><i class='bx bxl-google'></i></a>
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-linkedin'></i></a>
                </div>
            </form>
        </div>
    </div>

    <script src="static/newlogin/script.js"></script>
</body>
</html>