{% extends 'base.html' %}

{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Page</title>
        <link rel="stylesheet" href="{% static 'signup/style.css' %}">
    </head>

    <body>
        <div class="auth-container">
            <h1>Register</h1>
            {% if error %}
            <div id="response-message" class="error-message">{{error}}</div> <!-- Initially empty to show messages -->
            {% endif %}
            
            <form id="registerForm" method="POST" action="/register">
                {% csrf_token %}
                
                <!-- Display individual field errors -->
                <label for="first_name">First Name:</label>
                {{ form.first_name }}
                {% if form.first_name.errors %}
                <div class="error-message">{{ form.first_name.errors }}</div><br>
                {% endif %}
                
                <label for="last_name">Last Name:</label>
                {{ form.last_name }}
                {% if form.last_name.errors %}
                <div class="error-message">{{ form.last_name.errors }}</div><br>
                {% endif %}
                
                <label for="email">Email:</label>
                {{ form.email }}
                {% if form.email.errors %}
                <div class="error-message">{{ form.email.errors }}</div><br>
                {% endif %}
                
                <label for="password">Password:</label>
                {{ form.password1 }}
                {% if form.password.errors %}
                <div class="error-message">{{ form.password.errors }}</div><br>
                {% endif %}
                
                <label for="re_password">Confirm Password:</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                <div class="error-message">{{ form.password2.errors }}</div><br>
                {% endif %}
                
                <label for="is_realtor">Are you a Realtor?</label>
                <select id="is_realtor" name="is_realtor">
                    <option value="False">No</option>
                    <option value="True">Yes</option>
                </select>
        
                <button type="submit">Register</button>
                
                <!-- Display non-field errors -->
                {% if form.non_field_errors %}
                    <div class="error-message">{{ form.non_field_errors }}</div>
                {% endif %}
            </form>

            <div class="login">
                <p>Have an exisiting account? <a href="{% url 'login' %}">Login Now</a></p>
            </div>

        </div>
        
    </body>

{% endblock %}
</html>