{% load static %}
{% load socialaccount %}

{% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Page</title>
        <link rel="stylesheet" href="{% static 'signup/style.css' %}">
        <script src="https://accounts.google.com/gsi/client" async></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

        <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/x-icon">
        <style>
            .image-container {
                position: relative;
                background: url("{% static 'signup/house.svg' %}") no-repeat center center / cover;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: #FFFFFF;
                font-size: 24px;
                font-weight: bold;
                overflow: hidden;
            }

            .image-container::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.2); /* Semi-transparent black overlay */
                z-index: 1;
            }

            .image-container p {
                z-index: 2; /* Ensures text is above the overlay */
                margin: 0;
                padding: 0 20px; /* Optional padding for better text spacing */
            }
        </style>
{% endblock %}

{% block body %}
    <body>
        <div class="main-container">
            <div class="form-container">
                <img class="logo" src="{% static 'signup/logo.svg' %}" alt="Logo">
                <form  id="registerForm" action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <h1>Create Account</h1>
                    {% if error %}
                    <div id="response-message" class="error-message">{{error}}</div> <!-- Initially empty to show messages -->
                    {% endif %}
                    
                    <!-- Social media sign-in options -->
                    <div class="social-container">
                        <a href="#" class="social"><img src="{% static 'signup/apple.svg' %}" alt="Apple"></a>
                        <a href="{% provider_login_url 'google' %}" target="_blank" class="social"><img src="{% static 'signup/google.svg' %}" alt="Google"></a>
                    </div>
                    <span>or use your email for registration</span>
                    <br><br>
                    <div class="error-message">{{message}}</div>
                    
                    <label for="first_name">First Name:</label>
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                    <div class="error-message">{{ form.first_name.errors }}</div><br>
                    {% endif %}
                    
                    <label for="last_name">Last Name:</label>
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                    <div class="error-message">{{ form.last_name.errors }}</div><br>
                    {% endif %}
                
                    <label for="email">Email:</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                    <div class="error-message">{{ form.email.errors }}</div><br>
                    {% endif %}

                    <div class="password-container">
                        <label for="password">Password:</label>
                        {{ form.password }}
                        
                        <!-- Eye icon to toggle password visibility -->
                        <span id="togglePassword" class="toggle-password">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </span>

                        {% if form.password.errors %}
                        <div class="error-message">{{ form.password.errors }}</div><br>
                        {% endif %}
                    </div>
                    <!-- Hidden field for reCAPTCHA token -->
                    <input type="hidden" id="id_captcha_token" name="captcha_token">
                
        
                    <button type="submit">Register</button>
                
                    <!-- Display non-field errors -->
                    {% if form.non_field_errors %}
                    <div class="error-message">{{ form.non_field_errors }}</div>
                    {% endif %}
                    <p class="footer-text">Already have an account? <a href="{% url 'login' %}">Log In</a></p>
                </form>
            </div>
            <div class="image-container">
                <p style="color: white;">Homes as unique as you</p>
            </div>
        </div>
        
    </body>
        <style>
        /* Error Message */
        .error-message {
            color: #FF5733; /* Red color for error messages */
            font-size: 0.9em;
            margin-top: -10px; /* Move error message closer to input */
            margin-bottom: 15px; /* Space between error and next field */
        }
        

        </style>
        <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>
        <script>
            grecaptcha.ready(function() {
                grecaptcha.execute('{{ recaptcha_site_key }}', {action: 'submit'}).then(function(token) {
                    document.getElementById('id_captcha_token').value = token;  // Set the token in hidden input
                });
            });
        </script>

        <script>
            document.getElementById('togglePassword').addEventListener('click', function (e) {
                const passwordField = document.getElementById('password');
                let passwordType = passwordField.type
                if (passwordType === 'password') {
                    passwordType = 'text';
                    passwordField.type = passwordType
                }
                else {
                    passwordType = 'password'
                    passwordField.type = passwordType
                }
                this.querySelector('i').classList.toggle('fa-eye-slash');
            });

            document.getElementById('toggleconfirmPass').addEventListener('click', function (e) {
                const passwordField = document.getElementById('re_password');
                let passwordType = passwordField.type
                if (passwordType === 'password') {
                    passwordType = 'text';
                    passwordField.type = passwordType
                }
                else {
                    passwordType = 'password'
                    passwordField.type = passwordType
                }
                this.querySelector('i').classList.toggle('fa-eye-slash');
            });
        </script>

        <!-- <script>
            function togglePassword() {
                passwordField = document.getElementById('password');
                let passwordType = passwordField.type
                if (passwordType === 'password') {
                    passwordType = 'text';
                    passwordField.type = passwordType
                }
                else {
                    passwordType = 'password'
                    passwordField.type = passwordType
                }


                // Toggle the eye slash icon
                document.querySelector('i').classList.toggle('fa-eye-slash');
            };

            function toggleconfirmPassword() {
                passwordField = document.getElementById('re_password');
                let passwordType = passwordField.type
                if (passwordType === 'password') {
                    passwordType = 'text';
                    passwordField.type = passwordType
                }
                else {
                    passwordType = 'password'
                    passwordField.type = passwordType
                }


                // Toggle the eye slash icon
                document.querySelector('i').classList.toggle('fa-eye-slash');
            };
        </script> -->

{% endblock %}
</html>