{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'login/style.css' %}">

<div class="auth-container">
  <h3>RESIDO - Sign In</h3>
  <div id="response-message" class="error-message">{{error}}</div>

  <form id="signinForm" method="POST" action="/login">
    {% csrf_token %}
    
    <label for="email">Email</label>
    {{form.email}}

    <label for="password">Password</label>
    {{form.password}} 

    <!-- Show Password checkbox aligned with label -->
    <div class="show-password-container">
      <input type="checkbox" id="show-password-checkbox" onclick="togglePassword()">
      <label for="show-password-checkbox">Show Password</label>
    </div>

    <button type="submit">Sign in</button>
  </form>
  <div class="forgot-pass">
    <p><a href="{% url 'password_reset' %}">Forgot Password? </a></p>
  </div>

  <div class="signup">
    <p>Don't have an account? <a href="{% url 'register' %}">Sign Up now</a></p>
  </div>
</div>

<script src="{% static 'login/main.js' %}"></script>

{% endblock %}


