{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/realtor.css' %}">
    <title>All our realtors</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-list">
                <li class="dropdown"><a href="#" class="dropbtn">Rent</a>
                    <div class="dropdown-content">
                        <a href="{% url 'homes_rent' %}">Homes for Rent</a>
                        <a href="#">Apartments for Rent</a>
                        <a href="#">Townhouses for Rent</a>
                        <a href="{% url 'construction_rent' %}">New Construction</a>
                        <a href="#">Office Spaces</a>
                    </div>
                </li>
                <li class="dropdown"><a href="{% url 'homes_sell' %}" class="dropbtn">Sell</a>
                    <div class="dropdown-content">
                        <a href="{% url 'homes_sell' %}">Homes for Sale</a>
                        <a href="{% url 'townhouses_sell' %}">Townhouses</a>
                        <a href="{% url 'construction_sell' %}">New Construction</a>
                        <a href="{% url 'officespace_sell' %}">Office spaces</a>
                        <a href="{% url 'all_homes' %}">All Homes</a>
                    </div>
                </li>
                <li class="list-group-item dropbtn"><a href="{% url 'about_us'%}">About Us</a></li>
                <li class="list-group-item logo"><a href="{% url 'home' %}" class="logo">RESIDO</a></li>
                <li class="dropdown dropbtn"><a href="#">Contact</a>
                    <div class="dropdown-content">
                        <a href="https://wa.me/656700244" target="_blank">WhatsApp</a>
                        <a href="#">TikTok</a>
                        <a href="https://web.facebook.com/profile.php?id=61566367768918" target="_blank">Facebook</a>
                        <a href="#">Instagram</a>
                    </div>
                </li>
                <li class="dropdown"><a href="#" class="dropbtn">Find Agent</a>
                    <div class="dropdown-content">
                        <a href="#">Real Estate Agents</a>
                    </div>
                </li>
                {% if not request.user.is_authenticated %}
                <li class="list-group-item"><a href="{% url 'register' %}" class="dropbtn">Sign In</a></li>
                {% else %}
                <li class="dropdown"><a href="{% url 'profile' %}">{{ request.user.first_name }}</a>
                    <div class="dropdown-content">
                        <a href="{% url 'profile' %}">Edit Profile</a>
                        <a href="{% url 'signout' %}">Signout</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <section>
        {% for realtor in realtors %}
        <div class="card">
            <img src="{{ realtor.image.url }}" alt="{{ request.user.name }}">
            <div class="card-title">
                <p>{{ realtor.first_name }} {{ realtor.last_name }}</p>
            </div>
        </div>
        {% endfor %}
    </section>

</body>
</html>