{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/realtor.css' %}">
<title>All our realtors</title>
<body>

    <section>
        {% for realtor in realtors %}
        <div class="card">
            <img src="{{ realtor.image.url }}" alt="{{ request.user.name }}">
            <div class="card-title">
                <p>{{ realtor.first_name }} {{ realtor.last_name }}</p>
            </div>
        </div>
        {% endfor %}
    </section>

</body>
{% endblock %}